@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(41, 35, 35);
  width: 100%;
  height: auto;
  justify-content: center;
}
.card {
  justify-content: center;
  width: 200px;
  height: auto;
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 20px 50px;
}
.card:hover {
  cursor: pointer;
}
.card img {
  width: 100%;
}
